@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
$font: 'Roboto', sans-serif;


:root {
  font-size: 14px;
}

// Font sizes.
$text-xs: 0.8rem;
$text-s: 0.9rem;
$text-m: 1rem;
$text-l: 1.10rem;

$title-xs: 1.25rem;;
$title-s: 1.5rem;
$title-m: 2rem;
$title-l: 2.5rem;


// Mixins.
@mixin title($color: $white, $size: 1rem, $weight: normal) {
  font-family: $font;
  color: $color;
  font-size: $size;
  line-height: calc(#{$size} * 1.5);
  font-weight: $weight;
}

@mixin text($color: $white, $size: 1rem, $weight: normal) {
  font-family: $font;
  color: $color;
  font-size: $size;
  line-height: calc(#{$size} * 1.5);
  font-weight: $weight;
}


