html,
body,
#root {
  height: 100%;
}

.base-layout {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;

  &-header {
    flex-shrink: 0;
    background-color: $green;

    header {
    }
  }

  &-main {
    flex-grow: 1;
    background-color: $white;

    main {
      max-width: $desktop;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &-footer {

    flex-shrink: 0;
    background-color: $green;

    footer {
      max-width: $desktop;
      margin-left: auto;
      margin-right: auto;
    }
  }
}