.meal {
  .main {
    .main-inner {
      margin: 20px;

      .wrapper {
        display: flex;
        justify-content: flex-start;
        flex-flow: column nowrap;

        .left {
          h1 {
            @include title($green-light, $title-l);
            margin-bottom: 20px;
          }

          p {
            @include text($green-light, $text-m);
            margin-bottom: 20px;
          }

          .table {
            margin-bottom: 20px;
          }
        }

        .right {
          button {
            float: right;
            margin-bottom: 10px;
            background-color: $green-light;
            color: white;
            border: none;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            padding: 8px 10px;
            cursor: pointer;
            opacity: 1;
            transition: opacity 0.3s ease;

            &:hover {
              opacity: 0.8;
            }
          }
          img {
            width: 100%;
            max-height: 400px;
            object-fit: cover;
          }
        }
      }

      @media only screen and (min-width: $desktop) {
        .wrapper {
          justify-content: space-between;
          flex-flow: row nowrap;

          .left {
            flex: 0 1 45%;
          }

          .right {
            flex: 0 1 45%;
            margin-top: 70px;
          }
        }
      }
    }
  }
}


